RewriteEngine On 

RewriteRule ^kurs/([0-9a-zA-Z-_]+)(/?)$ index.php?page=course&kurs=$1 [QSA,L]
RewriteRule ^tedbir/([0-9a-zA-Z-_]+)(/?)$ index.php?page=tedbir&tedbir=$1 [QSA,L]
RewriteRule ^xeber/([0-9a-zA-Z-_]+)(/?)$ index.php?page=xeber&xeber=$1 [QSA,L]
RewriteRule ^meqale/([0-9a-zA-Z-_]+)(/?)$ index.php?page=meqale&blog=$1 [QSA,L]
RewriteRule ^course/([0-9a-zA-Z-_]+)(/?)$ index.php?page=course&kurs=$1 [QSA,L]
RewriteRule ^albom/([0-9a-zA-Z-_]+)(/?)$ index.php?page=albums&id=$1 [QSA,L]
RewriteRule ^change_lang/([0-9a-zA-Z-_]+)(/?)$ index.php?page=set_language&lang=$1 [QSA,L]
RewriteRule ^edit_lang/([0-9a-zA-Z-_]+)(/?)$ index.php?page=edit_language&lang=$1 [QSA,L]
RewriteRule ^edit_cities/([0-9a-zA-Z-_]+)(/?)$ index.php?page=edit_cities&id=$1 [QSA,L]
RewriteRule ^edit_ads_type/([0-9a-zA-Z-_]+)(/?)$ index.php?page=edit_ads_type&id=$1 [QSA,L]
RewriteRule ^edit_metro/([0-9a-zA-Z-_]+)(/?)$ index.php?page=edit_metro&id=$1 [QSA,L]
RewriteRule ^edit_regions/([0-9a-zA-Z-_]+)(/?)$ index.php?page=edit_regions&id=$1 [QSA,L]
RewriteRule ^edit_settlements/([0-9a-zA-Z-_]+)(/?)$ index.php?page=edit_settlements&id=$1 [QSA,L]
RewriteRule ^edit_hashtag/([0-9a-zA-Z-_]+)(/?)$ index.php?page=edit_hashtag&id=$1 [QSA,L]
RewriteRule ^edit_album/([0-9a-zA-Z-_]+)(/?)$ index.php?page=album_edit&id=$1 [QSA,L]
RewriteRule ^edit_slide/([0-9a-zA-Z-_]+)(/?)$ index.php?page=slide_edit&id=$1 [QSA,L]
RewriteRule ^edit_video_slide/([0-9a-zA-Z-_]+)(/?)$ index.php?page=video_slide_edit&id=$1 [QSA,L]
RewriteRule ^edit_video/([0-9a-zA-Z-_]+)(/?)$ index.php?page=video_edit&id=$1 [QSA,L]
RewriteRule ^edit_staff/([0-9a-zA-Z-_]+)(/?)$ index.php?page=staff_edit&id=$1 [QSA,L]
RewriteRule ^album_photo/([0-9a-zA-Z-_]+)(/?)$ index.php?page=albums_photos&id=$1 [QSA,L]
RewriteRule ^service_photos/([0-9a-zA-Z-_]+)(/?)$ index.php?page=service_photos&id=$1 [QSA,L]
RewriteRule ^del_cities/([0-9a-zA-Z-_]+)(/?)$ core/data/control.php?del_cities=ok&id=$1 [QSA,L]
RewriteRule ^del_region/([0-9a-zA-Z-_]+)(/?)$ core/data/control.php?del_region=ok&id=$1 [QSA,L]
RewriteRule ^del_word/([0-9a-zA-Z-_]+)/([0-9a-zA-Z-_]+)(/?)$ core/data/control.php?del_word=ok&id=$1&lang=$2 [QSA,L]
RewriteRule ^del_settlement/([0-9a-zA-Z-_]+)(/?)$ core/data/control.php?del_settlement=ok&id=$1 [QSA,L]
RewriteRule ^del_hashtag/([0-9a-zA-Z-_]+)(/?)$ core/data/control.php?del_hashtag=ok&id=$1 [QSA,L]
RewriteRule ^del_metro/([0-9a-zA-Z-_]+)(/?)$ core/data/control.php?del_metro=ok&id=$1 [QSA,L]
RewriteRule ^del_adstype/([0-9a-zA-Z-_]+)(/?)$ core/data/control.php?del_adstype=ok&id=$1 [QSA,L]
RewriteRule ^del_service/([0-9a-zA-Z-_]+)(/?)$ core/data/control.php?del_service=ok&id=$1 [QSA,L]
RewriteRule ^del_albums/([0-9a-zA-Z-_]+)(/?)$ core/data/control.php?albomdel=ok&id=$1 [QSA,L]
RewriteRule ^del_slide/([0-9a-zA-Z-_]+)(/?)$ core/data/control.php?del_slide=ok&id=$1 [QSA,L]
RewriteRule ^del_video_slide/([0-9a-zA-Z-_]+)(/?)$ core/data/control.php?del_video_slide=ok&id=$1 [QSA,L]
RewriteRule ^del_blog_photo/([0-9a-zA-Z-_]+)(/?)$ core/data/control.php?del_blog_photo=ok&id=$1 [QSA,L]
RewriteRule ^del_news_photo/([0-9a-zA-Z-_]+)(/?)$ core/data/control.php?del_news_photo=ok&id=$1 [QSA,L]
RewriteRule ^del_service_photo/([0-9a-zA-Z-_]+)(/?)$ core/data/control.php?del_service_photo=ok&id=$1 [QSA,L]
RewriteRule ^del_staff_photo/([0-9a-zA-Z-_]+)(/?)$ core/data/control.php?del_staff_photo=ok&id=$1 [QSA,L]
RewriteRule ^del_slide_photo/([0-9a-zA-Z-_]+)(/?)$ core/data/control.php?del_slide_photo=ok&id=$1 [QSA,L]
RewriteRule ^del_album_cover/([0-9a-zA-Z-_]+)(/?)$ core/data/control.php?del_album_cover=ok&id=$1 [QSA,L]
RewriteRule ^del_video_cover/([0-9a-zA-Z-_]+)(/?)$ core/data/control.php?del_video_cover=ok&id=$1 [QSA,L]
RewriteRule ^del_photo/([0-9a-zA-Z-_]+)/([0-9]+)(/?)$ core/data/control.php?del_photo=ok&id=$1&album_id=$2 [QSA,L]



RewriteCond %{REQUEST_FILENAME} !-d	
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^([^\.]+)(/?)$ index.php?page=$1 [QSA,L]
RewriteRule ^sitemap\.xml/?$ sitemap.php


<ifModule mod_gzip.c>
mod_gzip_on Yes
mod_gzip_dechunk Yes
mod_gzip_item_include file \.(html?|txt|css|js|php|pl)$
mod_gzip_item_include mime ^application/x-javascript.*
mod_gzip_item_include mime ^text/.*
mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
mod_gzip_item_exclude mime ^image/.*
mod_gzip_item_include handler ^cgi-script$
</ifModule>

RewriteCond %{HTTP_USER_AGENT} ^BlackWidow [OR]
RewriteCond %{HTTP_USER_AGENT} ^Bot\ mailto:craftbot@yahoo.com [OR]
RewriteCond %{HTTP_USER_AGENT} ^ChinaClaw [OR]
RewriteCond %{HTTP_USER_AGENT} ^Custo [OR]
RewriteCond %{HTTP_USER_AGENT} ^DISCo [OR]
RewriteCond %{HTTP_USER_AGENT} ^Download\ Demon [OR]
RewriteCond %{HTTP_USER_AGENT} ^eCatch [OR]
RewriteCond %{HTTP_USER_AGENT} ^EirGrabber [OR]
RewriteCond %{HTTP_USER_AGENT} ^EmailSiphon [OR]
RewriteCond %{HTTP_USER_AGENT} ^EmailWolf [OR]
RewriteCond %{HTTP_USER_AGENT} ^Express\ WebPictures [OR]
RewriteCond %{HTTP_USER_AGENT} ^ExtractorPro [OR]
RewriteCond %{HTTP_USER_AGENT} ^EyeNetIE [OR]
RewriteCond %{HTTP_USER_AGENT} ^FlashGet [OR]
RewriteCond %{HTTP_USER_AGENT} ^GetRight [OR]
RewriteCond %{HTTP_USER_AGENT} ^GetWeb! [OR]
RewriteCond %{HTTP_USER_AGENT} ^Go!Zilla [OR]
RewriteCond %{HTTP_USER_AGENT} ^Go-Ahead-Got-It [OR]
RewriteCond %{HTTP_USER_AGENT} ^GrabNet [OR]
RewriteCond %{HTTP_USER_AGENT} ^Grafula [OR]
RewriteCond %{HTTP_USER_AGENT} ^HMView [OR]
RewriteCond %{HTTP_USER_AGENT} HTTrack [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^Image\ Stripper [OR]
RewriteCond %{HTTP_USER_AGENT} ^Image\ Sucker [OR]
RewriteCond %{HTTP_USER_AGENT} Indy\ Library [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^InterGET [OR]
RewriteCond %{HTTP_USER_AGENT} ^Internet\ Ninja [OR]
RewriteCond %{HTTP_USER_AGENT} ^JetCar [OR]
RewriteCond %{HTTP_USER_AGENT} ^JOC\ Web\ Spider [OR]
RewriteCond %{HTTP_USER_AGENT} ^larbin [OR]
RewriteCond %{HTTP_USER_AGENT} ^LeechFTP [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mass\ Downloader [OR]
RewriteCond %{HTTP_USER_AGENT} ^MIDown\ tool [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mister\ PiX [OR]
RewriteCond %{HTTP_USER_AGENT} uuuu7u^Navroad [OR]
RewriteCond %{HTTP_USER_AGENT} ^NearSite [OR]
RewriteCond %{HTTP_USER_AGENT} ^NetAnts [OR]
RewriteCond %{HTTP_USER_AGENT} ^NetSpider [OR]
RewriteCond %{HTTP_USER_AGENT} ^Net\ Vampire [OR]
RewriteCond %{HTTP_USER_AGENT} ^NetZIP [OR]
RewriteCond %{HTTP_USER_AGENT} ^Octopus [OR]
RewriteCond %{HTTP_USER_AGENT} ^Offline\ Explorer [OR]
RewriteCond %{HTTP_USER_AGENT} ^Offline\ Navigator [OR]
RewriteCond %{HTTP_USER_AGENT} ^PageGrabber [OR]
RewriteCond %{HTTP_USER_AGENT} ^Papa\ Foto [OR]
RewriteCond %{HTTP_USER_AGENT} ^pavuk [OR]
RewriteCond %{HTTP_USER_AGENT} ^pcBrowser [OR]
RewriteCond %{HTTP_USER_AGENT} ^RealDownload [OR]
RewriteCond %{HTTP_USER_AGENT} ^ReGet [OR]
RewriteCond %{HTTP_USER_AGENT} ^SiteSnagger [OR]
RewriteCond %{HTTP_USER_AGENT} ^SmartDownload [OR]
RewriteCond %{HTTP_USER_AGENT} ^SuperBot [OR]
RewriteCond %{HTTP_USER_AGENT} ^SuperHTTP [OR]
RewriteCond %{HTTP_USER_AGENT} ^Surfbot [OR]
RewriteCond %{HTTP_USER_AGENT} ^tAkeOut [OR]
RewriteCond %{HTTP_USER_AGENT} ^Teleport\ Pro [OR]
RewriteCond %{HTTP_USER_AGENT} ^VoidEYE [OR]
RewriteCond %{HTTP_USER_AGENT} ^Web\ Image\ Collector [OR]
RewriteCond %{HTTP_USER_AGENT} ^Web\ Sucker [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebAuto [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebCopier [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebFetch [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebGo\ IS [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebLeacher [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebReaper [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebSauger [OR]
RewriteCond %{HTTP_USER_AGENT} ^Website\ eXtractor [OR]
RewriteCond %{HTTP_USER_AGENT} ^Website\ Quester [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebStripper [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebWhacker [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebZIP [OR]
RewriteCond %{HTTP_USER_AGENT} ^Wget [OR]
RewriteCond %{HTTP_USER_AGENT} ^Widow [OR]
RewriteCond %{HTTP_USER_AGENT} ^WWWOFFLE [OR]
RewriteCond %{HTTP_USER_AGENT} ^Xaldon\ WebSpider [OR]
RewriteCond %{HTTP_USER_AGENT} ^Zeus
RewriteRule ^.* - [F,L]

